<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="portal_version" value="20171001.004"/>
    <!--
    Live
    <add key="DBMode" value="Live"/>
    <add key="SiteMode" value="Live"/>
    <add key="DB_CN_DEFAULT" value="9"/>
    Stage
    <add key="DBMode" value="Stage"/>
    <add key="SiteMode" value="Live"/>
    <add key="DB_CN_DEFAULT" value="10"/>


    Maintenance == Maintenance Mode, no one allowed to login.
      
    -->
    <add key="DBMode" value="Live"/>
    <add key="SiteMode" value="Live"/>
    <add key="DB_CN_DEFAULT" value="9"/>

    <!-- DB Connections -->
    <add key="DB_LAN" value="0.0.0"/>

    <add key="PS_Production" value="1"/>
    <add key="DB1_ID" value="PS_Production"/>
    <add key="DB1_LAN" value="0.0.0.0"/>
    <add key="DB1_WAN" value="1.1.1.1"/>
    <add key="DB1_NAME" value="portal_user"/>
    <add key="DB1_USER" value="UserSQL"/>
    <add key="DB1_PASS" value="PasswordSQL"/>

    <add key="PS_Stage" value="2"/>
    <add key="DB2_ID" value="PS_Stage"/>
    <add key="DB2_LAN" value="0.0.0.0"/>
    <add key="DB2_WAN" value="1.1.1.1"/>
    <add key="DB2_NAME" value="portal_user_stage"/>
    <add key="DB2_USER" value="UserSQL"/>
    <add key="DB2_PASS" value="PasswordSQL"/>

    <add key="DE_Production" value="3"/>
    <add key="DB3_ID" value="DE_Production"/>
    <add key="DB3_LAN" value="0.0.0.0"/>
    <add key="DB3_WAN" value="1.1.1.1"/>
    <add key="DB3_NAME" value="dataexchange_interactions"/>
    <add key="DB3_USER" value="UserSQL"/>
    <add key="DB3_PASS" value="PasswordSQL"/>

    <add key="DE_Stage" value="4"/>
    <add key="DB4_ID" value="DE_Stage"/>
    <add key="DB4_LAN" value="0.0.0.0"/>
    <add key="DB4_WAN" value="1.1.1.1"/>
    <add key="DB4_NAME" value="dataexchange_interactions_stage"/>
    <add key="DB4_USER" value="UserSQL"/>
    <add key="DB4_PASS" value="PasswordSQL"/>

    <add key="DE_Old_Production" value="30"/>
    <add key="DB30_ID" value="DE_Old_Production"/>
    <add key="DB30_LAN" value="0.0.0.0"/>
    <add key="DB30_WAN" value="1.1.1.1"/>
    <add key="DB30_NAME" value="dataexchange"/>
    <add key="DB30_USER" value="UserSQL"/>
    <add key="DB30_PASS" value="PasswordSQL"/>

    <add key="DE_Old_Stage" value="40"/>
    <add key="DB40_ID" value="DE_Old_Stage"/>
    <add key="DB40_LAN" value="0.0.0.0"/>
    <add key="DB40_WAN" value="1.1.1.1"/>
    <add key="DB40_NAME" value="dataexchange_stage"/>
    <add key="DB40_USER" value="UserSQL"/>
    <add key="DB40_PASS" value="PasswordSQL"/>

    <add key="RECORDINGS" value="5"/>
    <add key="DB5_ID" value="RECORDINGS"/>
    <add key="DB5_LAN" value="h7ehs9p801.database.windows.net"/>
    <add key="DB5_WAN" value="h7ehs9p801.database.windows.net"/>
    <add key="DB5_NAME" value="MiddleWare"/>
    <add key="DB5_USER" value="vmuser"/>
    <add key="DB5_PASS" value="C0ngru!sm"/>

    <add key="ARC_Production" value="9"/>
    <add key="DB9_ID" value="ARC_Production"/>
    <add key="DB9_LAN" value="0.0.0.0"/>
    <add key="DB9_WAN" value="1.1.1.1"/>
    <add key="DB9_NAME" value="arcweb"/>
    <add key="DB9_USER" value="UserSQL"/>
    <add key="DB9_PASS" value="PasswordSQL"/>

    <add key="ARC_Stage" value="10"/>
    <add key="DB10_ID" value="ARC_Stage"/>
    <add key="DB10_LAN" value="0.0.0.0"/>
    <add key="DB10_WAN" value="1.1.1.1"/>
    <add key="DB10_NAME" value="arcweb_stage"/>
    <add key="DB10_USER" value="UserSQL"/>
    <add key="DB10_PASS" value="PasswordSQL"/>
    <!-- DB Connections -->
    
    <!--CyberSource Config Here-->
    <!--
    Dev Server
    <add key="cybs.keysDirectory" value="F:\desktop02\Inetpub\wwwroot\portal\donation_arc\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="F:\desktop02\Inetpub\wwwroot\portal\donation_arc\cybersource\logs\"/>

    Stage NEW Server
    <add key="cybs.keysDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\logs\"/>

    Production NEW Server
    <add key="cybs.keysDirectory" value="C:\inetpub\wwwroot\portal\donation_arc\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="C:\inetpub\wwwroot\portal\donation_arc\cybersource\logs\"/>

    New Azure Servers [Answernet]:
    <add key="cybs.keysDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\logs\"/>

    -->
    <add key="cybs.keysDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="C:\inetpub\wwwroot\portal\donation_arc_stage\cybersource\logs\"/>
    <!--
    Test Settings
    <add key="cybs.merchantID" value="cybmerchant"/>
    <add key="cybs.sendToProduction" value="false"/>
    <add key="cybs.enableLog" value="true"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor/"/>

    Production Settings
    <add key="cybs.merchantID" value="cybmerchant"/>
    <add key="cybs.sendToProduction" value="true"/>
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wsa.ic3.com/commerce/1.x/transactionProcessor/"/>
    -->
    <add key="cybs.merchantID" value="cybmerchant"/>
    <add key="cybs.sendToProduction" value="true"/>
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wsa.ic3.com/commerce/1.x/transactionProcessor/"/>
    <!-- CyberSource Config Here -->
    


    <!--Host Servers-->
    <add key="HS_LAN" value="0.0.0.0.5"/>
    <add key="HS_WAN" value="1.1.1.1"/>
    <!--Connection Type-->
    <add key="CN_TYPE" value="Stage"/>
    <add key="SmtpHost" value="smtp.office365.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpUsername" value="do.not.reply@greenwoodhall.com"/>
    <add key="SmtpPassword" value="Jufo2395"/>
    <add key="FromAddress" value="it@greenwoodhall.com"/>
    <add key="FromName" value="Portal - Notification"/>

  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <machineKey validationKey="6A96FC82E037BC30EEADBAF375EC892EE6838D1C3DB11FD022C8FD069AF5D1B8BB29973F8AFD0C90BB511328A0A69EAD24F747F1A9DEFA37D08D9ED0C6972613" decryptionKey="C203ADAE8DD489265BF772D8E3719F15C7779F297E6DB1B3EE426AF1600F0C91" validation="SHA1" decryption="AES"/>
    <sessionState mode="StateServer" timeout="20" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms protection="All" loginUrl="Login.aspx" name=".gh.portal.donation.arc" timeout="30" defaultUrl="Error.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--<deny roles=""/>-->
      <!--<allow roles="User,Admin,Manager"/>-->
      <!--<allow roles="Sys Admin" />-->
      <!--<allow users="*" />-->
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <httpRuntime maxRequestLength="1048576"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="offline">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>